<div id="content-wrapper">
    <p id="title">Create an Account</p>
    <mat-card id="register-card">
        <form [formGroup]="registerForm">
            <mat-form-field appearance="fill" class="form-input">
                <mat-label>Username</mat-label>
                <input matInput formControlName="userName" required>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-input">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" required>
            </mat-form-field>
        </form>
        <button mat-button id="register-button" (click)="performRegistration()" [disabled]="!registerForm.valid">Register</button>
        <div id="login-link">
            <p>Already have an account?</p>
            <a routerLink="/login">Login</a>
        </div>
    </mat-card>
</div>
